＿＿@charset "urf-8"

*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.top{
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    /* class="support"のエリア表示 */
    /* background-color: #e5e2e2; */
}


.top h6{
    text-align: center;
    line-height: 100px;
    font-size: 24pt;
    color: #03c82a;
    font-weight: bold;
}


.top .back-button{
    background-color: #90f7d5;
    display: inline-block;
    margin-left: 170px;

    min-width: 180px;
    line-height: 48px;
    border-radius: 24px;
    font-family: 'Montserrat',sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(16, 125, 51);
    text-align: center;

    
    /* ボタン上下部に余白 */
    /* margin-top: 0px; */
    /* margin-bottom: 0px; */

    /* ボタンの位置 左からの距離*/
    /* margin-left: 1150px; */

    cursor: pointer;
    border: none;
}
/* マウスを置いた時に変色 */
.top .back-button:hover{
    background-color: #06f8c7;
}



.support {
    width: 1500px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    /* class="support"のエリア表示 */
    /* background-color: #e5e2e2;} */
}
.support img{
    width: 1400px;
    height: 900px;
    margin: 50px;
}





.コミュニケーション棟-list{
    width: 1500px;
    max-width: 90%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    /* グリッドレイアウト */
    display: grid;
    /* グリッド １列の数（幅の狭いブラウザ対応）　幅 */
    grid-template-columns: repeat(2,500px);
    /* グリッド　列・行　間隔 */
    column-gap: 300px;
    row-gap: 50px;
    /* アイテムの左右の揃え */
    justify-content: center;
    /* background-color: #e5e2e2; */
}



/* 画像サイズを揃える */
.img-item{
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.コミュニケーション棟-list dl{
    margin-top: 0px;
}
.コミュニケーション棟-list dt{

    font-size: 22px;
    font-weight: bold;
    width: 500px;
    height: 70px;
    text-align: center;

}

.コミュニケーション棟-list dd{
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;

}
/*  */
.コミュニケーション棟-list li{
    list-style: none;
}



.footer{
    /* フッター上部に余白 */
    margin-top: 200px;
}
p{text-align: center;
font-size: 18pt;
}






