@charset "urf-8"

*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.header-inner{
    max-width: 1200px;
    height: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


h1{text-align: left;line-height: 0.1rem;font-size: 30pt;}
h2{text-align: left;font-size: 20pt;color: #800000;}


nav ul{
    margin: 50px 0 0;
    padding: 0;
    text-align: right;
} 

nav li{
    display: inline;
    margin: 0 1.0rem;
}

a{
    text-decoration: underline;
}

body{
    font-family: sans-serif;
    font-size: 16px;
    color: #000;
    line-height: 1;
}




#main{}
.first-view{
    height: calc(60vh);
    background-image: url(aboutImg01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.first-view-text{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    /* 修正 20230622 */
    padding-bottom: 0px;

    font-size: 36px;
}
h3{text-align: center;
    line-height: 0.rem;
    font-size: 30pt;
    color: #9932c3;
    font-weight: bold;
}
h4{text-align: center;
    line-height: 0.rem;
    font-size: 24pt;
    color: #9932c3;
    font-weight: bold;
}


.lead{
    max-width: 1500px;
    margin: 50px auto;
    font-size: 12pt;
}
p{text-align: center;
    line-height: .0rem;
    color: #000;
}

/* お知らせ */
.news-list{
    list-style: none outside;
    /* margin: 0px; */
    /* padding: 0px; */
    /* margin-left: 300px; */
    /* margin-right: 300px; */
  }
  .news-list .item {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #333;
    /* 下線 */
    border-bottom: 1px solid #CCC;
    padding: 20px 20px;
  }

  /* 一番上の線 */
  .news-list .item:first-child {
    border-top: 1px solid #CCC;
  }
  .news-list .item .date{
    margin: 0;
    min-width: 140px;
    font-size: 24px;
    color: #000;
    padding: 0 0 0 0;
  }
  .news-list .item .category{
    margin: 0;
    min-width: 200px;
    padding: 0px 20px 0px 10px;
  }
  /* ラベル */
  .news-list .item .category span{
    background: #03f70b;
    color: #000;
    display: inline-block;
    padding: 5px 5px;
    font-size: 20px;
    line-height: 1.5;
  }
  .news-list .item .title{
    margin: 15px;
    width: 100%;
    font-size: 24px;
    text-align: left;
    /* 修正 20230622 */
    line-height: 25px;
  }

  /* マウスホバー（乗せた）時の表示 */
  /* .news-list .item a:hover .title{} */
    /* color: #00F; */
  
  @media screen and (max-width: 767px){
  .news-list .item a{
    flex-wrap: wrap;
  }
  .news-list .item .date{
    min-width: 100px;
  }
  .news-list .item .title{
    margin-top: 10px;
  }
  }
  
  /* 装飾 */
  *{
    box-sizing: border-box;
  }
  a{
    /* navのtext-decoration: underline;と被り */
    /* text-decoration: none; */
  }
  body{
    margin: 20px;
  }
  






.footer{}
    p{text-align: center;
      font-size: 18pt;
    }



</style>
